.restaurantMenu {
  height: calc(100vh - 200px);
  padding: 10px 20px;
  border: 1px solid gray;
  overflow-y: auto;
  min-width: 900px;

  &__titlse {
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;

    max-width: 900px;

    li {
      width: 250px;
      min-height: 272px;
      padding: 10px;

      border: 1px solid gray;

      .dishName {
        font-weight: bold;
      }

      img {
        object-fit: cover;
        object-position: center center;
      }
    }
  }

  .thumb {
    margin-top: 100px;
    text-align: center;
  }
}
