.header {
  width: 100%;
  padding: 30px 0;

  a {
    position: relative;
    font-size: 25px;
    padding: 3px 0;
    margin: 0 20px;

    color: rgb(44, 44, 255);
  }

  a:first-child {
    margin-left: 0;
  }

  a:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 2px;
    height: 50px;
    background-color: #000;
  }

  a:global(.active) {
    border-bottom: 3px solid;
  }
}

.cartLink {
  position: relative;
  display: inline-flex;
  gap: 5px;
}

.cart {
  width: 30px;
}

.goodsQuantity {
  position: absolute;
  top: -2px;
  right: -9px;
  font-size: 14px;
  background-color: green;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  color: white;
  text-align: center;
}
